<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://europe-bloombees.appspot.com/static/img/favicon.ico">
    <link rel="stylesheet" href="/dist/css/common.min.css">
    <title>Text page template</title>
    <style>
        body {
            margin: 0;
        }
        .display-full {
            display: block;
            border: 0;
            height: calc(100vh - 55px);
            width: 100%;
        }
        .template-switch {
            height: 55px;
            padding: 5px;
            border-bottom: 3px solid #d00404;
            background: rgba(46, 198, 198, 0.08);
        }
    </style>
</head>
<body ng-app="Bloombees" ng-controller="MainController as main" class="bg-white">
    <div class="template-switch">
        <a href="/"><button class="button button-action">Back</button></a>
        <span>Select template</span>
        <select id="templates">
            <option value="/templates/text-page">Text page</option>
            <option value="/templates/landing-page" selected>Landing page</option>
            <option value="/templates/grid-playground">Grid playground</option>
        </select>
    </div>
    <iframe class="display-full" src="https://europe-bloombees.appspot.com/payment-methods"><i class="fa fa-spin fa-spinner"></i></iframe>
    <script src="/dist/js/common.min.js"></script>
    <script>
        (function ($) {
            $('#templates').on('change', function () {
                window.location.href = $(this).val();
            });
        })(jQuery);
    </script>
</body>
</html>