<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active" ng-app="Bloombees">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

    <!-- Navigation -->

    {% include nav-home.html %}

    <!-- Splash window example -->

    {% if page.title == 'Splash window' %}

    <div class="splash-apps fx fx-x-center fx-y-center fx-col text-center hidden">
      <img class="phone-image img-responsive" src="https://cdn.bloombees.com/static/img/homebees/mobile_version.png">
      <p class="plr-50 plr-xx-20">Some text above</p>
      <ul class="list-aside-btn">
        <li class="list-app-elem">
          <a class="link-download-app button button-main button-main__small" target="_blank"
             href="https://itunes.apple.com/us/app/bloombees-post-sell-get-paid/id1071517004?ls=1&mt=8">
            <img class="logo-app" src="https://cdn.bloombees.com/static/img/homebees/app_store_vec.svg">
          </a>
        </li>
        <li class="list-app-elem">
          <a class="link-download-app button button-main button-main__small" target="_blank"
             href="https://play.google.com/store/apps/details?id=com.bloombees.android">
            <img class="logo-app" src="https://cdn.bloombees.com/static/img/homebees/google_play_vec.svg">
          </a>
        </li>
      </ul>
      <p class="plr-50 plr-xx-20">Some text below</p>
    </div>

    {% endif %}

    <div class="bd-pageheader">
      <div class="container">
        {% include page-headers.html %}
      </div>
    </div>

    <!-- Content -->

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3 push-md-9 bd-sidebar">
          {% include nav-docs.html %}
        </div>
        <div class="col-xs-12 col-md-9 pull-md-3 bd-content">
          <h1 class="bd-title" id="content">{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
    </div>

    <!-- Footer -->

    {% include footer.html %}
  </body>
</html>
